* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #39a6b2;
  }

  /* Hero Style Start */
.hero {
  background-image: url('../images/hero-bg.jpg');
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Hero Style End */